# THIS IS A SAMPLE .ENV File , to use it you must have your own .env file
# You can copy/paste a removed the '.example' extension
# Those vairable are loaded at start up ... they are stored in process.env


# Context variable
# Supported ENV [dev, production]
NODE_ENV=dev
PORT=3000
DEFAULT_TIMEOUT=2147483643
DOMAIN_FONT_END=https://something.com

# Storing back-end credential

BACK_END_ADDRESS=127.0.0.1
BACK_END_PORT=6969

#Toggle Feature Info
DOMAIN_TOGGLE_FEATURE="localhost"
PORT_TOGGLE_FEATURE=3547



