# Environment Variables
.env
.DS_Store
*.iml

# Untracked Directory
.idea/
node_modules/

# Ignore Package-lock.json
package-lock.json

# Ignore log file made by NPM

*.log
npm-debug-log.*

# Ignore release folder
build/Release

# Ignore cache directory
.npm

# Ignore Target of Typescript
dist

#Ignore IDE/Notepade File
.vscode 

# Ignore .nyc folder produce by converage test report
.nyc_output/
coverage/

# Ignore .next result
.next/

# Ignore result of Export command from Next.js
out/

# Ignore compiled filed by tsx (Front-End)

recruit-inc-front/src/app/pages/*.js
recruit-inc-front/src/app/components/*.js

# Ignore Log file

recruit-inc-back/log/*.json

# Ignore Test file compiled to .js

recruit-inc-front/test/**/*.js
recruit-inc-back/test/**/*.js
recruit-inc-back/test/**/*.txt

# Ignore downloaded File
recruit-inc-back/downloaded/
/downloaded/

#Ignore Log
/log

# Ignore generated JS file
recruit-inc-back/src/*.js
recruit-inc-back/src/**/*.js
recruit-inc-front/build/

#Ignore keys file for queues
recruit-inc-back/tokenlist.json
