<div class="row">

    <div class="col-md-6 offset-md-3">

        <div class="card text-center p-2">



            <div class="card-body">
                <h3 class="card-title mb-4">
                    Thank you for submitting your questionnaire!
                </h3>

                <div style="font-size: 36px; color: #26d3ca;">
                    ✓
                </div>
            </div>


        </div>
    </div>
</div>