<div class="row">

    <div class="col-md-4 offset-md-4">
        <div class="card text-center p-2">
            <img src="/assets/logo.png"
                class="card-img-top" style="max-width: 200px; margin: auto;">
            <div class="card-body text-center">
                <h3 class="card-title mb-4">
                    Questionnaire
                </h3>
                <h5 class="card-subtitle mb-2">
                    Enter your name to start
                </h5>
                <form action="" method="post">

                    <div class="mb-2">
                        <input type="text" name="name" id="name" required>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Start</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>